body {
  background-color: rgba(0, 0, 0, 0.782);
}
.game-area {
  position: 'absolute';
  background-image: url(./imgs/background.gif);
  background-size: cover;
  background-repeat: no-repeat;
  border: 2px solid #000;
  float: none;
  margin: 0 auto;
}

.cloud {
  width: 80px;
  height: 50px;
  background-size: cover;
}

.player {
  width: 20px;
  height: 30px;
  background-size: cover;
}

.coin {
  width: 15px;
  height: 15px;
  background-size: cover;
}

.instruction {
  width: 60px;
  height: 60px;
  background-size: cover;
}

.title{
  font-size: 6rem;
  text-shadow: 0 1px 0 #cccccc9e, 0 2px 0 #c9c9c97e, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
  color: #ffffffd7;
}

.score{
  font-size: 2rem;
  text-shadow: 0 1px 0 #cccccc9e, 0 2px 0 #c9c9c97e, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
  color: #ffffffd7;
}

.instructions {
  font-size: 2.5rem;
  text-shadow: 0 1px 0 #cccccc9e, 0 2px 0 #c9c9c97e, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
  color: #ffffffd7;
}

.coin-high-score {
  width: 150px;
  height: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
}

.bunny-logo {
  width: 100px;
  height: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
}

.leader-text {
  font-size: 2.5rem;
  text-shadow: 0 1px 0 #cccccc9e, 0 2px 0 #c9c9c97e, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
  color: #ffffffd7;
  }

.leader-logo {
  font-size: 5rem;
  text-shadow: 0 1px 0 #cccccc9e, 0 2px 0 #c9c9c97e, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
  color: #ffffffd7;
}

.leader-small {
  font-size: 3rem;
  text-shadow: 0 1px 0 #cccccc9e, 0 2px 0 #c9c9c97e, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
  color: #ffffffd7;
}

.center-form{
  margin: 0 auto;
  width:80% /* value of your choice which suits your alignment */
}